<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CADisableMinimumFrameDurationOnPhone</key>
        <true/>
        <key>NSCameraUsageDescription</key>
        <string>QRコードを読み取るためにカメラを使用します。</string>
        <key>UIRequiresFullScreen</key>
        <true/>
        <key>CFBundleURLTypes</key>
        <array>
            <dict>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
                <key>CFBundleURLSchemes</key>
                <array>
                    <string>$(GOOGLE_REVERSED_CLIENT_ID)</string>
                </array>
            </dict>
        </array>
    </dict>
</plist>
